

{% load static %}
{% load bootstrap4%}

<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{%bootstrap_css%}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<head>
    
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <title>Hoody</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="wrapper">
        {% include 'side.html' %}
        <div id="content" style="background-image: url('/static/images/bg.jpg'); background-repeat:no-repeat;background-size:cover">
            <div class="p-5">
                {% block content %}
      
                {% endblock %}
              </div>
        </div>
        
       
           </div>
    

    {%bootstrap_javascript%}
<script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
</script>

</body>
</html>
