{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
        <a href="{% url 'new-hood' %}" class="btn btn-sm btn-dark mb-2"> Add a hood +</a>
    <div class="row">
        {% for hood in all_hoods %}
        <div class="col-md-4">
            <div class="card mb-4 shadow" style="min-height:340px">
                <img src="{{ hood.hood_pic.url }}" class="card-img-top " alt="{{ hood.name }}" style="aspect-ratio: 1; width: 100%;">
                <div class="card-body">
                    
                    <small class="card-title">{{ hood.name }}  ({{hood.location}})  <span class="ml-4">{{hood.members.count}} member{{hood.members.count|pluralize}}</span></small>
                    
                    {% if request.user.profile.neighbourhood == hood %}
                    <a href="{% url 'leave-hood' hood.id %}" class="btn btn-outline-danger btn-sm">Leave <i class="fa-solid fa-arrow-right-from-bracket ml-2"></i></a>
                    {% elif not request.user.profile.neighbourhood %}
                    <a href="{% url 'join-hood' hood.id %}" class="btn btn-outline-dark ">Join <i class="fa-solid fa-arrow-right-to-bracket ml-2"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}